body {
  font-family: 'Roboto', sans-serif !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.emptyDiv {
  width: 230px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 120px;
  background-color: #75201B;
}

.emptyDivBtm {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 350px;
  background-color: #fff2;
}

/* ************************************ */
/* MAIN NAVBAR SECTION  */
/* ************************************ */
.mainNav {
  height: 100px;
  z-index: 12000;
  background-image: linear-gradient(to right, #fff 350px, #F17F79 350px);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
}

.mainNav #logo {
  height: 70px;
}

.mainNav .navbar-brand,
.mainNav .navbar-brand:focus,
.mainNav .navbar-brand:active,
.mainNav .navbar-brand:hover {
  color: #EB3F36;
}

/* ************************************ */
/* MAIN LANDING SECTION  */
/* ************************************ */
main {
  padding-top: 40vh;
  background-color: #EB3F36;
  height: 100vh;
}

main.company,
main.contact,
main.product,
main.services {
  padding-top: 20vh;
  background-color: #fff;
}

main h1 {
  font-family: 'Aleo', serif;
  font-size: 60px;
  color: #dadce0;
  font-weight: 600;
  letter-spacing: 3px;
  margin-left: -10px;
}

main .borderBtm {
  width: 200px;
  height: 10px;
  background-color: #dadce055;
  border-radius: 50px;
}

main.company h1,
main.contact h1,
main.product h1,
main.services h1 {
  font-family: 'Aleo', serif;
  font-size: 6 0px;
  color: #EB3F36;
  font-weight: 600;
  letter-spacing: 3px;
}

.company .photoDiv {
  width: 500px;
  height: 300px;
  background-color: #EB3F36;
}

.company .companyPhoto {
  width: 400px;
  height: 250px;
  position: relative;
  right: -200px;
  background-color: #dadce099;
}

main.company h2 {
  color: #dadce099;
  font-size: 8em;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 50px;
}

main.company h2 span {
  margin-left: 1em;
}

main p {
  color: #5f6368;
  letter-spacing: 1px;
}

/* VOLTAGE SVG */
main #voltage {
  width: 120px;
  position: absolute;
  top: -20%;
  left: -15%;
}

main .specialName {
  font-weight: 600;
  letter-spacing: -5px;
  font-size: 10em;
  color: #fff2;
  line-height: 150px;
  position: absolute;
  top: -20vh;
  left: -5%;
}

main img#voltagePanel {
  width: 900px;
  position: absolute;
  top: -20vh;
  left: -30%;
}

/* ************************************ */
/* CONTENT SECTION */
/* ************************************ */
.content {}

.content h2 {
  font-size: 3.6em;
  color: #EB3F36;
  letter-spacing: 1px;
}

.content p {
  color: #5f6368;
  letter-spacing: 1px;
}

@media (max-width: 1350px) {
  body, main{
    overflow-x: hidden !important;
  }

  .mainNav {
    background-image: linear-gradient(to right, #fff 350px, #F17F79 350px);
  }

  .emptyDiv {
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 100px;
    background-color: #75201B;
  }

  main.container,
  .content {
    padding-left: 150px;
    min-width: 100vw !important;
    width: 100vw!important;
    max-width: 100vw !important;
  }

  .company .photoDiv {
    width: 400px;
    height: 300px;
    background-color: #EB3F36;
  }

  .company .companyPhoto {
    width: 300px;
    height: 250px;
    position: relative;
    right: -200px;
    background-color: #dadce099;
  }

  main.company h2 {
    color: #dadce099;
    font-size: 6.5em;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

@media (max-width: 770px) {
  body {
    overflow-x: hidden !important;
  }

  main {
    overflow-x: hidden;
  }

  .emptyDivBtm,
  main .borderBtm,
  main img#voltagePanel,
  .photoDiv,
  .companyPhoto,
  main.company h2 {
    display: none;
  }

  main.company,
  main.contact,
  main.product,
  main.services,
  .content {
    padding-left: 60px;
  }

  .content h2 {
    font-size: 3em;
  }

  .emptyDiv {
    width: 80vw;
    position: absolute;
    top: 0;
    left: 50px;
  }

  .mainNav {
    width: 100vw;
    height: 60px;
    z-index: 12000;
    background-color: #fff!important;
  }

  .mainNav #logo {
    height: 45px;
  }

  main {
    padding-top: 40vh;
  }

  main h1 {
    font-size: 30px;
    color: #dadce0;
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 60px;
  }

  main h1 br {
    display: none;
  }

  main #voltage {
    width: 400px;
    position: absolute;
    top: -20vh;
    left: 30%;
  }
}
